[Unit]
Description=Runs eink mqtt listener after boot
After=multi-user.target

[Service]
Type=forking
ExecStart=/home/pi/smartenv-code/eink/launch_eink.sh
WorkingDirectory=/home/pi/smartenv-code/eink
User=pi

[Install]
WantedBy=multi-user.target