[Unit]
Description=Runs respeaker asr and light control
After=multi-user.target

[Service]
Type=forking
ExecStart=/home/pi/smartenv-code/respeaker/launch_respeaker.sh
WorkingDirectory=/home/pi/smartenv-code/respeaker
User=pi

[Install]
WantedBy=multi-user.target
